In [1]:
!whereis pyspark

pyspark: /usr/local/spark/bin/pyspark.cmd /usr/local/spark/bin/pyspark /usr/local/spark/bin/pyspark2.cmd

In [2]:
import findspark
findspark.init('/usr/local/spark')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL") \
        .config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/hive/warehouse") \
        .enableHiveSupport() 
        .getOrCreate()

In [6]:
spark.sql('Show Databases').show()

+------------+
|databaseName|
+------------+
|          db|
|     default|
|    deloitte|
+------------+

In [23]:
spark.sql('CREATE DATABASE if not exists db')

DataFrame[]

In [24]:
spark.sql('Show databases').show()

+------------+
|databaseName|
+------------+
|          db|
|     default|
|    deloitte|
+------------+

In [30]:
spark.sql('use db')

DataFrame[]

In [32]:
df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string]

In [33]:
df1 = spark.read.csv('City_Master.csv')
df1.show(5)

+---------+----------+----------+
|      _c0|       _c1|       _c2|
+---------+----------+----------+
|City_Code| City_Name|State_Code|
|     CT01|    Mumbai|      ST15|
|     CT02|      Pune|      ST15|
|     CT03|   Chennai|      ST24|
|     CT04|Coimbatore|      ST24|
+---------+----------+----------+
only showing top 5 rows

In [42]:
df1.createOrReplaceTempView('City_Master')

In [84]:
spark.sql('show tables from db').show()

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
|      db|car_sales_transac...|      false|
|      db|         city_master|      false|
+--------+--------------------+-----------+

In [86]:
spark.sql('drop table Car_Sales_Transactions')

DataFrame[]

In [87]:
spark.sql('drop table City_Master')

DataFrame[]

In [44]:
spark.sql('select * from City_Master').show()

+---------+------------+----------+
|      _c0|         _c1|       _c2|
+---------+------------+----------+
|City_Code|   City_Name|State_Code|
|     CT01|      Mumbai|      ST15|
|     CT02|        Pune|      ST15|
|     CT03|     Chennai|      ST24|
|     CT04|  Coimbatore|      ST24|
|     CT05|   Hyderabad|      ST25|
|     CT06|      Jaipur|      ST22|
|     CT07|       Kochi|      ST13|
|     CT08|     Kolkata|      ST29|
|     CT09|       Delhi|      ST34|
|     CT10|   Bangalore|      ST12|
|     CT11|   Ahmedabad|      ST07|
|     CT12|       Noida|      ST28|
|     CT13|       Patna|      ST04|
|     CT14|       Surat|      ST07|
|     CT15|Bhubaneshwar|      ST20|
|     CT16|     Gangtok|      ST23|
|     CT17|    Vadodara|      ST07|
|     CT18|    Ludhiana|      ST21|
|     CT19|      Mysore|      ST12|
+---------+------------+----------+
only showing top 20 rows

In [68]:
Car_Sales_df = spark.read.csv('Car_sales_transactions.csv')

In [74]:
Car_Sales_df.write.mode('overwrite').saveAsTable('db.Car_Sales_Transactions')

In [80]:
query1 = spark.sql('select * from Car_Sales_Transactions')
query1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)

In [79]:
spark.sql('select * from db.Car_Sales_Transactions where city_code=CT01')

AnalysisException: "cannot resolve '`city_code`' given input columns: [_c1, _c13, _c5, _c3, _c0, _c8, _c11, _c12, _c9, _c2, _c14, _c15, _c4, _c10, _c7, _c6]; line 1 pos 46;\n'Project [*]\n+- 'Filter ('city_code = 'CT01)\n   +- SubqueryAlias car_sales_transactions\n      +- Relation[_c0#2058,_c1#2059,_c2#2060,_c3#2061,_c4#2062,_c5#2063,_c6#2064,_c7#2065,_c8#2066,_c9#2067,_c10#2068,_c11#2069,_c12#2070,_c13#2071,_c14#2072,_c15#2073] parquet\n"

In [88]:
City_Master = spark.read.load("City_Master.csv", format="csv", inferSchema="true", header="true")
City_Master.show()

+---------+------------+----------+
|City_Code|   City_Name|State_Code|
+---------+------------+----------+
|     CT01|      Mumbai|      ST15|
|     CT02|        Pune|      ST15|
|     CT03|     Chennai|      ST24|
|     CT04|  Coimbatore|      ST24|
|     CT05|   Hyderabad|      ST25|
|     CT06|      Jaipur|      ST22|
|     CT07|       Kochi|      ST13|
|     CT08|     Kolkata|      ST29|
|     CT09|       Delhi|      ST34|
|     CT10|   Bangalore|      ST12|
|     CT11|   Ahmedabad|      ST07|
|     CT12|       Noida|      ST28|
|     CT13|       Patna|      ST04|
|     CT14|       Surat|      ST07|
|     CT15|Bhubaneshwar|      ST20|
|     CT16|     Gangtok|      ST23|
|     CT17|    Vadodara|      ST07|
|     CT18|    Ludhiana|      ST21|
|     CT19|      Mysore|      ST12|
|     CT20|      kanpur|      ST28|
+---------+------------+----------+
only showing top 20 rows

In [83]:
Car_Sales  = spark.read.load("Car_sales_transactions.csv", format="csv", inferSchema="true", header="true")
Car_Sales.show()

+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|                Name|Year|Selling_Price|km_Driven|City_Code|State_Code|Postal_Code|  Fuel|Seller_Type|Transmission|       Owner|   Mileage| Engine| Max_Power|Seats|
+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|     CT01|      ST15|     400001|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|     CT28|      ST11|     834001|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|
|       3|Honda City 2017-2...|2006|       158000|   140000|     CT12|      ST28|     201301|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|     CT21|      ST27|     248001|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|     CT03|      ST24|     600020|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|     CT06|      ST22|     302029|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|     CT06|      ST22|     302029|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|     CT02|      ST15|     411002|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|
|       9|    Toyota Etios VXD|2011|       350000|    90000|     CT26|      ST15|     431001|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|     CT10|      ST12|     560034|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|
|      11|Renault Duster 11...|2014|       500000|    68000|     CT21|      ST27|     248001|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|
|      12|       Maruti Zen LX|2005|        92000|   100000|     CT25|      ST01|     524225|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|     CT04|      ST24|     641001|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|     CT20|      ST28|     208002|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|     CT16|      ST23|     737101|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|     CT07|      ST13|     682001|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|     CT01|      ST15|     400001|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|      19|      Maruti Alto LX|2002|       150000|    80000|     CT17|      ST07|     391510|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|     CT09|      ST34|     110039|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|
|      21|Mahindra Verito 1...|2011|       174000|   100000|     CT19|      ST12|     570004|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|
+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 20 rows

In [89]:
Car_Sales.write.mode('overwrite').saveAsTable('db.Car_Sales_Transactions')

In [97]:
City_Master.write.mode('overwrite').saveAsTable('db.City_Master')

In [98]:
spark.sql('select * from City_Master').show()

+---------+------------+----------+
|City_Code|   City_Name|State_Code|
+---------+------------+----------+
|     CT01|      Mumbai|      ST15|
|     CT02|        Pune|      ST15|
|     CT03|     Chennai|      ST24|
|     CT04|  Coimbatore|      ST24|
|     CT05|   Hyderabad|      ST25|
|     CT06|      Jaipur|      ST22|
|     CT07|       Kochi|      ST13|
|     CT08|     Kolkata|      ST29|
|     CT09|       Delhi|      ST34|
|     CT10|   Bangalore|      ST12|
|     CT11|   Ahmedabad|      ST07|
|     CT12|       Noida|      ST28|
|     CT13|       Patna|      ST04|
|     CT14|       Surat|      ST07|
|     CT15|Bhubaneshwar|      ST20|
|     CT16|     Gangtok|      ST23|
|     CT17|    Vadodara|      ST07|
|     CT18|    Ludhiana|      ST21|
|     CT19|      Mysore|      ST12|
|     CT20|      kanpur|      ST28|
+---------+------------+----------+
only showing top 20 rows

In [96]:
spark.sql('select * from db.Car_Sales_Transactions where City_Code="CT01"').show()

+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|                Name|Year|Selling_Price|km_Driven|City_Code|State_Code|Postal_Code|  Fuel|Seller_Type|Transmission|       Owner|   Mileage| Engine| Max_Power|Seats|
+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|     CT01|      ST15|     400001|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|     CT01|      ST15|     400001|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|      48|Toyota Fortuner 4...|2014|      1500000|    77000|     CT01|      ST15|     400001|Diesel|     Dealer|      Manual| First Owner|12.55 kmpl|2982 CC| 168.5 bhp|    7|
|      71|Volkswagen Ameo 1...|2017|       500000|    80000|     CT01|      ST15|     400001|Diesel| Individual|      Manual| First Owner|21.66 kmpl|1498 CC|108.62 bhp|    5|
|     121|Nissan Terrano XL...|2014|       400000|    70000|     CT01|      ST15|     400001|Diesel| Individual|      Manual| Third Owner|20.45 kmpl|1461 CC|  83.8 bhp|    5|
|     146|Volvo XC40 D4 R-D...|2018|      3400000|    22000|     CT01|      ST15|     400001|Diesel|     Dealer|   Automatic| First Owner| 18.0 kmpl|1969 CC|   190 bhp|    5|
|     153|Tata Nexon 1.2 Re...|2018|       811000|    11000|     CT01|      ST15|     400001|Petrol|     Dealer|      Manual| First Owner| 17.0 kmpl|1198 CC| 108.5 bhp|    5|
|     177|Hyundai i20 Magna...|2016|       550000|    14000|     CT01|      ST15|     400001|Petrol| Individual|      Manual|Second Owner| 18.6 kmpl|1197 CC| 81.83 bhp|    5|
|     181|Volkswagen Ameo 1...|2019|       480000|    13000|     CT01|      ST15|     400001|Petrol| Individual|      Manual| First Owner|19.44 kmpl| 999 CC|    75 bhp|    5|
|     193|Maruti Wagon R VX...|2010|       215000|   120600|     CT01|      ST15|     400001|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl| 998 CC|  67.1 bhp|    5|
|     234|Mahindra Ssangyon...|2013|       900000|    70000|     CT01|      ST15|     400001|Diesel| Individual|      Manual| First Owner|12.83 kmpl|2696 CC|   162 bhp|    7|
|     269|Hyundai Elite i20...|2019|       610000|     2000|     CT01|      ST15|     400001|Petrol| Individual|      Manual| First Owner| 18.6 kmpl|1197 CC| 81.86 bhp|    5|
|     282|Honda Brio Exclus...|2014|       335000|    33033|     CT01|      ST15|     400001|Petrol|     Dealer|      Manual| First Owner| 19.4 kmpl|1198 CC|  86.8 bhp|    5|
|     283|Hyundai Grand i10...|2015|       465000|    63063|     CT01|      ST15|     400001|Petrol|     Dealer|   Automatic| First Owner| 18.9 kmpl|1197 CC|    82 bhp|    5|
|     285|      Maruti Alto LX|2005|       110000|    45000|     CT01|      ST15|     400001|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|
|     295|Hyundai i10 Sport...|2011|       265000|    20000|     CT01|      ST15|     400001|Petrol| Individual|   Automatic| First Owner|16.95 kmpl|1197 CC|  78.9 bhp|    5|
|     321|Hyundai Creta 1.4...|2018|      1210000|    25000|     CT01|      ST15|     400001|Diesel| Individual|      Manual| First Owner|21.38 kmpl|1396 CC|  88.7 bhp|    5|
|     344|  Maruti Wagon R LXI|2005|        89000|    90000|     CT01|      ST15|     400001|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl| 998 CC|  67.1 bhp|    5|
|     451|Hyundai Creta 1.6...|2016|       800000|    25000|     CT01|      ST15|     400001|Petrol| Individual|      Manual| First Owner|15.29 kmpl|1591 CC| 121.3 bhp|    5|
|     494|Maruti Swift Dzir...|2008|       160000|   123000|     CT01|      ST15|     400001|Petrol| Individual|      Manual| Third Owner| 17.5 kmpl|1298 CC|  85.8 bhp|    5|
+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 20 rows

In [105]:
Postal_Code_Master = spark.read.load("Postal_Code_Master.csv", format="csv", inferSchema="true", header="true")
Postal_Code_Master.write.mode('overwrite').saveAsTable('db.Postal_Code_Master')

In [106]:
Region_State_Mapping = spark.read.load("Region_State_Mapping.csv", format = "csv", inferSchema="true",header="true")
Region_State_Mapping.write.mode('overwrite').saveAsTable('db.Region_State_Mapping')

In [107]:
Sales_Status = spark.read.load("Sales_Status.csv", format = "csv", inferSchema="true", header="true")
Sales_Status.write.mode('overwrite').saveAsTable('db.Sales_Status')

In [108]:
State_Master = spark.read.load("State_Master.csv",format="csv",inferSchema="true",header="true")
State_Master.write.mode('overwrite').saveAsTable('db.State_Master')

In [109]:
Region_Master = spark.read.load("Region_Master.csv",format="csv",inferSchema="true",header="true")
Region_Master.write.mode('overwrite').saveAsTable('db.Region_Master')

In [110]:
spark.sql("show tables").show()

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
|      db|car_sales_transac...|      false|
|      db|         city_master|      false|
|      db|  postal_code_master|      false|
|      db|       region_master|      false|
|      db|region_state_mapping|      false|
|      db|        sales_status|      false|
|      db|        state_master|      false|
+--------+--------------------+-----------+

In [111]:
spark.sql("select * from region_master").show()

+-----------+----------+
|Region_Code|    Region|
+-----------+----------+
|         R1|   Central|
|         R2|      East|
|         R3|      West|
|         R4|     South|
|         R5|     North|
|         R6|North East|
+-----------+----------+

In [113]:
spark.sql("select * from sales_status").show()

+--------+----+
|Sales_ID|Sold|
+--------+----+
|       1|   Y|
|       2|   Y|
|       3|   Y|
|       4|   Y|
|       5|   Y|
|       6|   Y|
|       7|   Y|
|       8|   Y|
|       9|   Y|
|      10|   Y|
|      11|   Y|
|      12|   Y|
|      13|   Y|
|      15|   Y|
|      16|   Y|
|      17|   Y|
|      18|   Y|
|      19|   Y|
|      20|   Y|
|      21|   Y|
+--------+----+
only showing top 20 rows

In [114]:
spark.sql("select * from postal_code_master").show()

+-----------+---------+
|Postal_Code|City_Code|
+-----------+---------+
|     400001|     CT01|
|     400053|     CT01|
|     400035|     CT01|
|     400050|     CT01|
|     411002|     CT02|
|     411005|     CT02|
|     411043|     CT02|
|     411006|     CT02|
|     600020|     CT03|
|     600039|     CT03|
|     600017|     CT03|
|     600018|     CT03|
|     641001|     CT04|
|     641043|     CT04|
|     641006|     CT04|
|     641045|     CT04|
|     500004|     CT05|
|     500020|     CT05|
|     500032|     CT05|
|     500045|     CT05|
+-----------+---------+
only showing top 20 rows

In [115]:
spark.sql("select * from region_state_mapping").show()

+-----------+----------+
|Region_Code|State_Code|
+-----------+----------+
|         R4|      ST01|
|         R6|      ST02|
|         R6|      ST03|
|         R2|      ST04|
|         R1|      ST05|
|         R3|      ST06|
|         R3|      ST07|
|         R5|      ST08|
|         R5|      ST09|
|         R5|      ST10|
|         R2|      ST11|
|         R4|      ST12|
|         R4|      ST13|
|         R1|      ST14|
|         R3|      ST15|
|         R6|      ST16|
|         R6|      ST17|
|         R6|      ST18|
|         R6|      ST19|
|         R2|      ST20|
+-----------+----------+
only showing top 20 rows

In [208]:
Car_Sales.select('Selling_Price','km_driven').describe().show()

+-------+-----------------+------------------+
|summary|    Selling_Price|         km_driven|
+-------+-----------------+------------------+
|  count|             7906|              7906|
|   mean| 649813.720844928| 69188.65975208703|
| stddev|813582.7483541336|56792.296343317634|
|    min|            29999|                 1|
|    max|         10000000|           2360457|
+-------+-----------------+------------------+

In [222]:
Car_Sales.fillna(0).show()

+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+-----------+
|Sales_ID|                Name|Year|Selling_Price|km_Driven|City_Code|State_Code|Postal_Code|  Fuel|Seller_Type|Transmission|       Owner|   Mileage| Engine| Max_Power|Seats|Test_Column|
+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+-----------+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|     CT01|      ST15|     400001|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|     900000|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|     CT28|      ST11|     834001|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|     740000|
|       3|Honda City 2017-2...|2006|       158000|   140000|     CT12|      ST28|     201301|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|     316000|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|     CT21|      ST27|     248001|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|     450000|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|     CT03|      ST24|     600020|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|     260000|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|     CT06|      ST22|     302029|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|     880000|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|     CT06|      ST22|     302029|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|     192000|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|     CT02|      ST15|     411002|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|      90000|
|       9|    Toyota Etios VXD|2011|       350000|    90000|     CT26|      ST15|     431001|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|     700000|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|     CT10|      ST12|     560034|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|     400000|
|      11|Renault Duster 11...|2014|       500000|    68000|     CT21|      ST27|     248001|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|    1000000|
|      12|       Maruti Zen LX|2005|        92000|   100000|     CT25|      ST01|     524225|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|     184000|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|     CT04|      ST24|     641001|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|     560000|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|     CT20|      ST28|     208002|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|     360000|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|     CT16|      ST23|     737101|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|     800000|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|     CT07|      ST13|     682001|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|    1556000|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|     CT01|      ST15|     400001|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|    1000000|
|      19|      Maruti Alto LX|2002|       150000|    80000|     CT17|      ST07|     391510|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|     300000|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|     CT09|      ST34|     110039|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|    1360000|
|      21|Mahindra Verito 1...|2011|       174000|   100000|     CT19|      ST12|     570004|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|     348000|
+--------+--------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+-----------+
only showing top 20 rows